@model IEnumerable<ReportAssign.Models.PatientList>


@{
    ViewBag.Title = "Index";
    Layout = "";
}

@TempData["Result"]

<h1>報告分派系統</h1>

@Html.ActionLink("新增資料", "Create")


@using (Html.BeginForm("QueryReport", "Assign", FormMethod.Post))
{
    <p>
        檢查流水號 :<input type="text" name="accession_num" value="" style="width"/>
        <input type="submit" name="name" value="查詢" />
    </p>
}

<style>
    .DropDownList_doclist{
        width:120px;
    }
</style>

@if (ViewBag.CheckData == "ok")
{
    <table width="">
        <tr>
            <td>病歷號</td>
            <td>姓名</td>
            <td>檢查流水號</td>
            <td>醫師帳號</td>
            <td>醫師姓名</td>
            <td>報告改分派</td>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PatientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessionNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoctorName)
                </td>
                <td>
                    @*@Html.ActionLink("編輯", "Edit", new { accession_num = item.AccessionNum, DoctorName = item.DoctorName })
                    @Html.ActionLink("刪除", "Delete", new { accession_num = item.AccessionNum })*@

                    @using (Html.BeginForm("UpdateDoc", "Assign", FormMethod.Post))
                    {
                        @Html.HiddenFor(modelItem => item.AccessionNum)
                        <input list="doclist" name="doclist" res class="DropDownList_doclist">
                        <input type="submit" value="分派" />
                    }
                </td>
            </tr>
        }
    </table>

 

    <datalist id="doclist"></datalist>

    <script src="/Scripts/jquery-3.3.1.js"></script>
    <script src="/Scripts/bootstrap.js"></script>
    <script>

        $(function () {

            $.post('/Assign/GetDocList', function (res) {
                for (var i = 0; i < res.length; i++) {
                    $('#doclist').append($("<option>").attr('value', res[i].DocID + "-" + res[i].DocName));
                }
            });
        });
    </script>
}

